<% layout("./layouts/boilerplate") %> 
    
    
    <h3>all listing</h3>
    <!-- <form method="get" action="/listings/new">
        <button>create new listing</button>
    </form> -->

    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">

      <% for(let listing of all_listing) { %>

        <a href="/listings/<%= listing._id %>" class="listing-link">

          <div class="card cols listing-card" >
            <img src="<%= listing.image %>" class="card-img-top" alt="listing-image" style="height: 15rem;">
            <div class="card-img-overlay">abcd</div>
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b>
              </p>
                &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                </div>
            </div>  
        </a>
      <% } %>
    </div>
    
    

