/* body{
    background-color: rgb(213, 234, 59);
} */

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-link a{
    text-decoration: none;
    color: #222222 ;
}
.f-info-link a:hover{
    text-decoration: underline;
    width: 100%;
}

.f-info-link ,.f-info-social,.f-info-brand{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.f-info-social i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: antiquewhite;
    /* wrap: This property is used to break the flex item into multiples lines. It makes flex items wrap to multiple lines according to flex item width.  */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items:space-evenly; */
    
}

/* cards */
.card{
    border: none !important;
}
.card-img-top {
    border-radius: 1rem;
    width: 100%;
}

.card-body{
    padding: 0 !important;
}
.card-text a{
    font-weight: 400 !important;
    text-decoration: none !important;
}


